#paragrafo1{
    font-family: "Handjet", sans-serif;
    font-weight: 400;
    font-style: normal;
}
#paragrafo2{
    font-family: "Matemasie", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300px;
    font-style: normal;
}
#paragrafo3{
    font-size: 300;
    color: blue;
    font-family: "Playwrite CU", cursive;
}
#paragrafo4{
    padding-left: 30%;
    font-family: 'Roboto Mono', monospace;
}