.pagina {
    background-color: burlywood;
    font-family: "Times New Roman", Times, serif;
    text-align: justify;
  }
  
  nav {
    display: inline-block;
    position: absolute;
    left: 30px;
    right: 15px;
    background-color: black;
    word-spacing: 15px;
    padding: 15px;
    width: 920px;
  }
  
  a {
    color: red;
    font-weight: bold;
    text-decoration: none;
  }
  
  .logo {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: red;
    text-align: center;
    line-height: 45px;
    font-weight: bold;
    display: inline-block;
    position: absolute;
    left: 900px;
  }
  
  .menu {
    background-color: black;
  }
  
  .lorem {
    width: 920px;
    position: absolute;
    top: 50px;
    margin-left: 30px;
    margin-right: 70px;
  }
  