html{
    background-color: blanchedalmond;
}
nav {
    background-color: brown;
}
section{
    background-color: aqua;

}
strong{
    background-color: darkblue;
}
header{
    background-color: darkmagenta;
}
a {
    background-color: yellow;
}